<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails: Welcome aboard</title>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <h1>TODO: Add link to letter opener web!</h1>
    <button onclick="a += 1">
      Click me!
    </button>
  </body>
</html>
